@charset "utf-8";

/* join1 */
body {
  background: #f8f8f8;
}

.logo {
  display: block;
  width: 140px;
  height: 120px;
  background: url(../images/orion-logo3.png) no-repeat;
  text-indent: -999px;
  overflow: hidden;
  margin: 50px auto 50px;
  text-align: center;
}

#content {
  width: 100%;
  background: #f8f8f8;
  margin-bottom: 100px;
}

.sub_cont_wrap {
  width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#content form {
  background: #fff;
  margin: 10px auto 40px;
  padding: 50px;
  border-radius: 8px;
}

.allcheck {
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 40px 10px;
  display: block;
  position: relative;
  left: 15px;
  width: 98%;
  line-height: 25px;
}

.allcheck input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  right: 1px;
  top: 40%;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"] + label::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid #bcbcbc;
  border-radius: 50%;
  margin: 0px 0px -6px 10px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  background-color: #d2001a;
  border: 2px solid #ccc;
}

input[type="checkbox"] {
  display: none;
}

.main {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 30px;
}

#content .check {
  font-size: 14px;
  margin-top: 35px;
}

#content .policy {
  overflow-y: scroll;
  height: 100px;
  padding: 20px;
  background: #f7f7f7;
  font-size: 14px;
  line-height: 1.8em;
  margin-bottom: 30px;
}

/* button */
.button {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
}

.button::after {
  content: "";
  display: block;
  clear: both;
}

.button a {
  width: 50%;
  height: 80px;
  line-height: 80px;
  font-size: 1.25rem;
  background: #f7f7f7;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
}

.button a.ok {
  background: #d2001a;
  color: #fff;
}

.button a.cancel {
  background: #888;
  color: #ccc;
}

.button a.ok:hover {
  background: #ffcccc;
  color: #3d4146;
}

.button a.cancel:hover {
  background: #aaa;
  color: #3d4146;
}

/* join2 */
.joinform_wrap {
  width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.joinform_wrap dl {
  position: relative;
  box-sizing: border-box;
  background: #f8f8f8;
  padding: 0 0 0 25px;
  display: flex;
  margin: 30px 0 0;
}

.joinform_wrap dl dt {
  line-height: 70px;
  color: #666;
  width: 16%;
}

.joinform_wrap dl dd {
  margin-left: 130px;
}

.joinform_wrap dl dd input[type="text"],
.joinform_wrap dl dd input[type="password"],
.joinform_wrap dl dd select {
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
  border: 0 none;
  background: none;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
}

.joinform_wrap dl dd input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.joinform_wrap dl dd .notice_txt {
  position: absolute;
  right: 25px;
  top: 0;
  line-height: 70px;
}

/* 아이디 오류체크 */
.joinform_wrap .txt_guide {
  width: 332px;
  font-size: 12px;
  color: #666;
  word-break: break-all;
}

.joinform_wrap .square {
  display: block;
}

.joinform_wrap .txt_guide .good {
  color: #0f851a;
  margin-top: 5px;
  display: block;
}

.joinform_wrap .txt_guide .bad {
  color: #b3130b;
  margin-top: 5px;
  display: block;
}

.joinform_wrap .txt_guide .txt {
  display: block;
}

.joinform_wrap .txt_guide .good:before {
  content: "\2713";
  display: inline-block;
  padding: 0 4px 0 2px;
  font-size: 12px;
  vertical-align: 0;
}

.joinform_wrap .txt_guide .bad:before {
  content: "\2715";
  display: inline-block;
  padding: 0 4px 0 2px;
  font-size: 12px;
  vertical-align: 0;
}

/* 휴대폰 */
.joinform_wrap .hp dd {
  display: flex;
  position: relative;
}

.joinform_wrap dl.hp .hp {
  width: 30%;
}

.joinform_wrap dl.hp span {
  width: 5%;
  line-height: 70px;
  text-align: center;
  display: inline-block;
}

.joinform_wrap dl.hp select.hp {
  height: 50px;
  margin: 10px 0 0;
  border: 1px solid #ddd;
  background: #fff;
  padding-left: 10px;
}

.joinform_wrap dl.hp input.hp {
  text-align: center;
}

/* 이메일 */
.joinform_wrap .email {
  margin-bottom: 100px;
}

.joinform_wrap .email dd {
  display: flex;
}

.joinform_wrap dl.email input[type="text"] {
  width: 30%;
}

.joinform_wrap dl.email input[type="text"]:nth-of-type(2) {
  width: 60%;
}

.joinform_wrap dl.email span {
  width: 10%;
  line-height: 70px;
  text-align: center;
  display: inline-block;
}

/* button */
.btn_area {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
}

.btn_area button {
  width: 50%;
  height: 80px;
  line-height: 80px;
  font-size: 1.25rem;
  background: #d2001a;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.3s;
  border: none;
}

.btn_area button.ok {
  background: #d2001a;
  color: #fff;
  border-bottom-left-radius: 8px;
}

.btn_area button.ok:hover {
  background: #ffcccc;
  color: #3d4146;
}

.btn_area button.cancel {
  background: #999;
  color: #fff;
  border-bottom-right-radius: 8px;
}

.btn_area button.cancel:hover {
  background: #aaa;
  color: #3d4146;
}

/* 회원가입 완료 */
.joinok {
  width: 800px;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin: 10px auto 40px;
  padding: 50px;
  border-radius: 8px;
}

.joinok i {
  font-size: 50px;
  margin: 50px 0 0 315px;
  color: #d2001a;
}

.joinok p {
  margin: 50px 0 100px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.joinok .move {
  width: 100%;
  position: absolute;
  bottom: 45px;
  margin-left: 100px;
}

.joinok .move a {
  width: 30%;
  padding: 15px;
  display: inline-block;
  text-align: center;
  background: #d2001a;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.joinok .move a:hover {
  background: #ffcccc;
  color: #3d4146;
  font-weight: 700;
}

/* 로그인 */
.login_box {
  width: 800px;
  position: relative;
  overflow: hidden;
  background: #fff;
  margin: 10px auto 40px;
  padding: 50px;
  border-radius: 5px;
}

.login_box_inner {
  margin-left: 100px;
}

.login_box input {
  display: block;
  width: 400px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.login_box input:focus {
  outline: none;
  border-color: #f6f7f8;
}

.login_box button {
  width: 400px;
  background: #3d4146;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  border: none;
  font-size: 16px;
}

.login_box button:hover {
  background: #8a9398;
  color: #3d4146;
  font-weight: 700;
}
