@charset "utf-8";
/* sub2_1 > 윤리경영 - 윤리경영체계 */
.content_area .tab.w2 {
  width: 100%;
}

.content_area .tab ul {
  display: flex;
}

.content_area .tab li {
  width: 100%;
  margin-top: 80px;
}

.content_area .tab li a {
  position: relative;
  display: block;
  font-size: 20px;
  border: 1px solid #ddd;
  border-left-width: 0;
  border-radius: 15px;
  text-align: center;
  color: #999;
  transition: all 0.5s;
}

.content_area .tab li:first-child a {
  border-left-width: 1px;
}

.content_area .tab li:hover a {
  background: rgba(255, 235, 235, 0.5);
}

.content_area .tab li.current a {
  color: #d2001a;
  font-weight: 600;
}

.content_area .tab li.current a::before {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #d2001a;
  border-radius: 15px;
}

.cont {
  margin-top: 200px;
  font-size: 20px;
  letter-spacing: -0.025rem;
  line-height: 30px;
  position: relative;
  padding-bottom: 100px;
}

.cont h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 80px 0 40px 15px;
}

.cont h3:after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  left: 0;
  background: #d2001a;
}

.cont_box1 {
  display: flex;
  align-items: center;
  position: relative;
}

.cont_box1 .img_box {
  width: 100%;
  animation: fadeInLeft 3s;
}

.cont_box1 .txt_box {
  margin-left: 80px;
  animation: fadeInRight 3s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cont_box1 .txt_box h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 80px 0 40px 15px;
}

.cont_box1 .txt_box h3:after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  background: #d2001a;
}

.cont_box2 {
  padding: 200px 0 0;
  animation: fadeInUp 4s;
}

.cont_box2 .inner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.cont_box2 .inner_box {
  position: relative;
  margin-top: 355px;
}

.cont_box2 .inner_box ul {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: url(../images/sub2_1_img2.png) center center no-repeat;
}

.cont_box2 .inner_box ul li .circle {
  position: relative;
}

.cont_box2 .inner_box ul li .circle:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  right: -15%;
  top: 50%;
  transform: translateY(-50%);
}

.cont_box2 .inner_box ul li .circle span {
  font-size: 28px;
  font-weight: 700;
  position: relative;
  z-index: 2;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont_box2 .inner_box ul li dl {
  position: absolute;
}

.cont_box2 .inner_box ul li dt {
  color: #111;
  font-weight: 700;
  font-size: 20px;
}

.cont_box2 .inner_box ul li dd {
  margin-top: 25px;
  color: #333;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.6;
}

.cont_box2 .inner_box ul li .box.ethicsbox1 {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.cont_box2 .inner_box ul li .box.ethicsbox1 dl {
  top: -160px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.cont_box2 .inner_box ul li .box.ethicsbox1 .circle span {
  color: #d9032d;
  box-shadow: rgba(230, 0, 45, 0.4) 0 0 30px -2px;
}

.cont_box2 .inner_box ul li .box.ethicsbox1 .circle:after {
  background-color: rgba(230, 0, 45, 0.05);
}

.cont_box2 .inner_box ul li .box.ethicsbox2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 166px;
}

.cont_box2 .inner_box ul li .box.ethicsbox2 dl {
  top: 30px;
  left: 220px;
  width: 500px;
}

.cont_box2 .inner_box ul li .box.ethicsbox2 .circle:after {
  background-color: rgba(89, 87, 87, 0.05);
}

.cont_box2 .inner_box ul li .box.ethicsbox2 .circle span {
  color: #575555;
  box-shadow: rgba(89, 87, 87, 0.4) 0 0 30px -2px;
}

.cont_box2 .inner_box ul li .box.ethicsbox3 {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: 166px;
}

.cont_box2 .inner_box ul li .box.ethicsbox3 dl {
  top: 30px;
  right: 220px;
  width: 500px;
  text-align: right;
}

.cont_box2 .inner_box ul li .box.ethicsbox3 .circle:after {
  background-color: rgba(0, 54, 104, 0.05);
}

.cont_box2 .inner_box ul li .box.ethicsbox3 .circle span {
  color: #023565;
  box-shadow: rgba(0, 54, 104, 0.4) 0 0 30px -2px;
}

.ethics02 {
  display: none;
}

.ethics02 p {
  margin-bottom: 50px;
}

.ethics02 .ethics02_txt {
  background: #f5f5f5;
  box-shadow: 3px 3px 3px 3px #555555;
  border-radius: 5px;
  padding: 50px;
  line-height: 2;
  font-size: 23px;
}

/* sub2_2 > 윤리경영 - 인권경영 */
.human_rights {
  margin: 80px 0 0;
  position: relative;
  animation: fadeInUp 3s;
}

.human_rights h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 80px 0 100px 15px;
}

.human_rights h3:after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  left: 2px;
  background: #d2001a;
}

.human_rights img {
  width: 100%;
  height: 400px;
  margin: 0 0 50px 0;
}

.human_rights .rights_txt {
  line-height: 2;
  font-size: 23px;
}

/* 임직원 고충처리제도 */
.human_policy {
  margin: 100px 0 0;
  position: relative;
  animation: fadeInUp 4s;
}

.human_policy h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 80px 0 100px 15px;
}

.human_policy h3:after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  left: 2px;
  background: #d2001a;
}

.human_box {
  display: flex;
  margin-top: 50px;
}

.human_policy .human_box .policy {
  border-radius: 15px;
  box-shadow: 4px 2px #d2001a;
}

.human_policy .human_box:hover .policy {
  border-radius: 15px;
}

.human_policy .box1,
.box2 {
  width: 50%;
  height: 400px;
  background: #f6f6f6;
  margin: 0 0 100px 30px;
  position: relative;
}

.human_policy .box1 img,
.box2 img {
  width: 120px;
  height: 120px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.human_policy .box1 .box1_txt,
.box2 .box2_txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #d2001a;
  opacity: 0;
  padding: 0 50px;
  transition: all ease-out 0.5s;
}

.human_policy .box1 .box1_txt p,
.box2 .box2_txt p {
  color: #fff;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  padding: 50px;
}

.human_policy .box1:hover .box1_txt,
.box2:hover .box2_txt {
  opacity: 1;
  border-radius: 15px;
}

.box1_txt .border_top,
.box2_txt .border_top {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  right: 0;
  width: 0px;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-out;
}

.human_policy .box1:hover .border_top,
.box2:hover .border_top {
  width: 100%;
  transition-delay: 0.2s;
}

.box1_txt .border_right,
.box2_txt .border_right {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  right: 10px;
  width: 2px;
  height: 0px;
  background: #fff;
  transition: all 0.3s ease-out;
}

.human_policy .box1:hover .border_right,
.box2:hover .border_right {
  height: 100%;
  transition-delay: 0s;
}

.box1_txt .border_bottom,
.box2_txt .border_bottom {
  content: "";
  position: absolute;
  display: block;
  bottom: 10px;
  right: 0px;
  width: 0px;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-out;
}

.human_policy .box1:hover .border_bottom,
.box2:hover .border_bottom {
  width: 100%;
  transition-delay: 0.2s;
}

.box1_txt .border_left,
.box2_txt .border_left {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 10px;
  width: 2px;
  height: 0px;
  background: #fff;
  transition: all 0.3s ease-out;
}

.human_policy .box1:hover .border_left,
.box2:hover .border_left {
  height: 100%;
  transition-delay: 0s;
}

/* sub2_3 > 윤리경영 - 안전보건 */
.content_area .cont_box {
  margin: 0 120px 100px;
  border-top: 1px solid #000;
}

.content_area .cont_box .cont_list {
  display: flex;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 20px;
  line-height: 1.6;
}

.content_area .cont_box .cont_list strong {
  padding-right: 30px;
  color: #d2001a;
  font-size: 24px;
  width: 30%;
}

/* sub2_4 > 윤리경영 - 임직원만족 */
.satisfaction_con {
  margin-top: 100px;
}

.satisfaction_con .satisfaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 40px 20px;
  margin-top: 50px;
}

.satisfaction_con .satisfaction:first-child {
  margin-top: 0;
}

.satisfaction dl {
  width: calc(100% - 15rem);
}

.satisfaction dt {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -0.075em;
  margin-bottom: 20px;
}

.satisfaction dt .num {
  display: inline-block;
  color: #d2001a;
  font-size: 18px;
  margin-right: 15px;
}

.satisfaction dd {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.065em;
  line-height: 1.94;
}

.satisfaction .icon {
  display: block;
  width: 158px;
  height: 158px;
  border: 22px solid #fce8eb;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.satisfaction .icon:hover {
  border: 22px solid #ffc5ce;
}

.satisfaction .icon img {
  display: block;
  border: 1px solid #ffc5ce;
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}
