@charset "utf-8";

.sub_menu li {
  width: 33.33%;
}

/* sub4_1 > 인재채용- 인사제도 */
.personnel_system {
  margin: 180px 0 0;
  position: relative;
}

.personnel_system h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 80px 0 40px 15px;
}

.personnel_system h3:after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  left: 2px;
  background: #d2001a;
}

.personnel_system .personnel_list {
  width: 900px;
  margin: 80px auto 0;
}

.personnel_system .personnel_list p {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 1.375rem;
  color: #fff;
  border-radius: 500px;
  background: rgb(210, 0, 26);
  background: linear-gradient(90deg, rgba(210, 0, 26, 1) 30%, rgba(255, 153, 153, 1) 75%, rgba(255, 204, 204, 1) 100%);
}

.personnel_list ul {
  overflow: hidden;
  margin: 30px 0 0;
  display: flex;
}

.personnel_list ul li {
  width: 25%;
  background: #f5f5f5;
  text-align: center;
  border-radius: 10px;
  padding: 50px 40px;
  margin-left: 10px;
  font-size: 20px;
  line-height: 30px;
  transition: all 0.3s;
}

.personnel_list ul li:first-child {
  margin-left: 0;
}

.personnel_list ul li:hover {
  background: #ccc;
}

.rank {
  margin: 80px 0 0;
  position: relative;
}

.rank h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 200px 0 40px 15px;
}

.rank h3::after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  left: 2px;
  background: #d2001a;
}

.rank table {
  border-top: 2px solid #444;
  margin: 30px 0 200px;
  font-size: 20px;
  width: 100%;
}

.rank table th,
.rank table td {
  padding: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.rank table th {
  font-weight: 700;
  font-size: 22px;
  color: #d2001a;
  word-break: keep-all;
  background: #f5f5f5;
  padding: 40px;
}

.rank table td {
  width: 80%;
  padding: 80px;
}

.rank td ul li {
  position: relative;
  padding-left: 15px;
  margin-top: 25px;
  font-weight: 500;
}

.rank .rank_01 {
  display: flex;
}

.rank .rank_01::after {
  content: "";
  display: block;
  background: #ccc;
  position: absolute;
  top: 333px;
  width: 92%;
  height: 1px;
  margin-top: 10px;
}

.rank .rank_01 li {
  width: 12.5%;
  margin-bottom: 100px;
  padding: 0 30px;
  text-align: center;
}

.rank .rank_01 li::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 10;
  margin: 30px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d2001a;
  top: 24px;
  left: 65px;
}

.rank .rank_02 li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  width: 3px;
  height: 8px;
  background: #aaa;
  transform: skew(-35deg);
}

.rank .rank_03 {
  display: flex;
}

.rank .rank_03::after {
  content: "";
  display: block;
  background: #ccc;
  position: absolute;
  bottom: 213px;
  width: 92%;
  height: 1px;
  margin-top: 10px;
}

.rank .rank_03 li {
  width: 20%;
  margin-bottom: 100px;
  padding: 0 30px;
  text-align: center;
}

.rank .rank_03 li::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 10;
  margin: 10px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d2001a;
  top: 62px;
  left: 115px;
}

.rank .rank_04 li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  width: 3px;
  height: 8px;
  background: #aaa;
  transform: skew(-35deg);
}

/* sub4_2 > 인재채용 - 채용정보 */
.recruit_process {
  margin: 180px 0 0;
  position: relative;
  animation: fadeInUp 3s;
}

.recruit_process h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 80px 0 80px 15px;
}

.recruit_process h3:after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  left: 2px;
  background: #d2001a;
}

.recruit_process ul {
  overflow: hidden;
  display: flex;
  text-align: center;
}

.recruit_process .left li,
.recruit_process .right li {
  position: relative;
  width: 230px;
  height: 230px;
  margin-left: 144px;
  margin-bottom: 180px;
}

.recruit_process .circle {
  background: #fff;
  width: 200px;
  height: 200px;
  border-radius: 120px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 1px #ccc inset;
  transition: all 0.3s;
}

.recruit_process .circle:hover {
  background: rgb(241, 213, 213);
}

.recruit_process .circle .cir_img {
  display: block;
  margin: 0 0 90px 44px;
  width: 120px;
  height: 120px;
  padding-top: 55px;
}

.recruit_process strong {
  display: block;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
}

.recruit_process strong span {
  font-size: 24px;
  font-weight: 700;
  color: #d2001a;
  opacity: 0.5;
}

.recruit_process [class*="arrow"] {
  position: absolute;
  top: 80px;
  right: -73px;
  font-size: 50px;
  color: #d2001a;
  opacity: 0.5;
}

.recruit_process [class*="bottom"] {
  position: absolute;
  top: 80px;
  left: -112px;
  font-size: 50px;
  color: #d2001a;
  opacity: 0.5;
}

.recruit_process .special {
  position: absolute;
  bottom: -140px;
  right: 100px;
  font-size: 50px;
  color: #d2001a;
  opacity: 0.5;
}

.recruit_process dl {
  border-bottom: 1px solid #ddd;
  padding: 40px 40px;
  display: flex;
}

.recruit_process dl:nth-of-type(1) {
  border-top: 2px solid #444;
  /* margin: 100px 0 0; */
}

.recruit_process dl dt {
  width: 15%;
  font-size: 20px;
  color: #d2001a;
  font-weight: 700;
}

.recruit_process dl dd {
  width: 85%;
  font-size: 18px;
  line-height: 1.5;
}

/* sub4_3 > 인재채용 - 복리후생 */
.welfare {
  margin: 80px 0 0;
  position: relative;
}

.welfare h3 {
  font-size: 35px;
  letter-spacing: -0.065rem;
  margin: 80px 0 80px 15px;
}

.welfare h3::after {
  content: "";
  width: 5px;
  height: 32px;
  position: absolute;
  left: 2px;
  background: #d2001a;
}

.welfare01,
.welfare02,
.welfare03,
.welfare04 {
  overflow: hidden;
  margin-bottom: 100px;
}

/* .welfare01 .welfare_family {
  position: relative;
} */

.welfare .wel > li {
  display: flex;
  align-items: center;
  border: 1px solid #d7d7d7;
  background-color: #eceef0;
  margin-top: 10px;
}

.wel > li .title-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 0 10px;
  font-size: 20px;
  text-align: center;
}

.wel > li .title-box .title {
  font-weight: 600;
}

.wel > li .desc-box {
  width: 70%;
  padding: 30px 32px;
  background-color: #fff;
  border-left: 1px solid #d7d7d7;
  font-size: 18px;
  color: #303030;
  line-height: 1.6;
}

.welfare03 .welfare_hobby {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welfare03 .welfare_hobby li {
  width: 25%;
  border-left: 1px solid #d7d7d7;
  text-align: center;
  padding: 48px 10px 20px;
  transition: all 0.3s;
}

.welfare03 .welfare_hobby li:first-child {
  border-left: none;
}

.welfare03 .welfare_hobby li:hover {
  background: #ccc;
}

.welfare03 .welfare_hobby li .icon {
  display: block;
  margin: 0 auto;
  min-height: 120px;
}

.welfare03 .welfare_hobby dt {
  font-weight: 600;
  font-size: 25px;
}

.welfare03 .welfare_hobby dd {
  padding-top: 25px;
  font-weight: 300;
  font-size: 18px;
  min-height: 68px;
  line-height: 1.4;
}

.welfare04 .welfare04_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welfare04 .welfare04_list li {
  width: 20%;
  border-left: 1px solid #d7d7d7;
  text-align: center;
  padding: 48px 10px 20px;
  transition: all 0.3s;
}

.welfare04 .welfare04_list li:first-child {
  border-left: none;
}

.welfare04 .welfare04_list li:hover {
  background: #ccc;
}

.welfare04 .welfare04_list li .icon {
  display: block;
  margin: 0 auto;
  min-height: 120px;
}

.welfare04 .welfare04_list dt {
  font-weight: 600;
  font-size: 20px;
}

.welfare04 .welfare04_list dd {
  padding-top: 25px;
  font-weight: 300;
  font-size: 16px;
  min-height: 68px;
  line-height: 1.4;
}
